In [2]:
# lets first import all the important Library to use
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
import re
import string

In [3]:
# lets import the data set
fake=pd.read_csv(r"C:\Users\arpitshrivastav.vc\Downloads\Fake.csv")
true=pd.read_csv(r"C:\Users\arpitshrivastav.vc\Downloads\True.csv")

In [4]:
# lets see the dataset
fake.head(5)

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [5]:
true.head(5)

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [6]:
# now we will provide a class to our data set
fake["class"]=0
true["class"]=1

In [7]:
# lets check the size and shape of our dataset
fake.shape,true.shape

((23481, 5), (21417, 5))

In [8]:
fake_manual_testing=fake.tail(10)
for i in range(23480,23470,-1):
    fake.drop([i],axis=0,inplace=True)
    
true_manual_testing=true.tail(10)
for i in range(21416,21406,-1):
    true.drop([i],axis=0,inplace=True)

In [9]:
fake_manual_testing.head(5) # as we can see the class column is added

,title,text,subject,date,class
23471,Seven Iranians freed in the prisoner swap have...,"21st Century Wire says This week, the historic...",Middle-east,"January 20, 2016",0
23472,#Hashtag Hell & The Fake Left,By Dady Chery and Gilbert MercierAll writers ...,Middle-east,"January 19, 2016",0
23473,Astroturfing: Journalist Reveals Brainwashing ...,Vic Bishop Waking TimesOur reality is carefull...,Middle-east,"January 19, 2016",0
23474,The New American Century: An Era of Fraud,Paul Craig RobertsIn the last years of the 20t...,Middle-east,"January 19, 2016",0
23475,Hillary Clinton: ‘Israel First’ (and no peace ...,Robert Fantina CounterpunchAlthough the United...,Middle-east,"January 18, 2016",0

In [10]:
# lets merge the datasets
merge=pd.concat([fake,true],axis=0)
print(merge.head(5))
print(merge.shape)

                                               title  \
0   Donald Trump Sends Out Embarrassing New Year’...
1   Drunk Bragging Trump Staffer Started Russian ...
2   Sheriff David Clarke Becomes An Internet Joke...
3   Trump Is So Obsessed He Even Has Obama’s Name...
4   Pope Francis Just Called Out Donald Trump Dur...

                                                text subject  \
0  Donald Trump just couldn t wish all Americans ...    News
1  House Intelligence Committee Chairman Devin Nu...    News
2  On Friday, it was revealed that former Milwauk...    News
3  On Christmas day, Donald Trump announced that ...    News
4  Pope Francis used his annual Christmas Day mes...    News

                date  class
0  December 31, 2017      0
1  December 31, 2017      0
2  December 30, 2017      0
3  December 29, 2017      0
4  December 25, 2017      0
(44878, 5)

In [11]:
# lets see all the columns
merge.columns

Index(['title', 'text', 'subject', 'date', 'class'], dtype='object')

In [12]:
# now we will remove all the unnecessary columns for the dataset
merge=merge.drop(["title","subject","date"], axis = 1)
merge

                                                    text  class
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21402  ON BOARD A U.S. MILITARY AIRCRAFT (Reuters) - ...      1
21403  WASHINGTON (Reuters) - The United States sugge...      1
21404  WASHINGTON (Reuters) - The United States has d...      1
21405  ISLAMABAD (Reuters) - Outlining a new strategy...      1
21406  GENEVA (Reuters) - North Korea and the United ...      1

[44878 rows x 2 columns]

In [13]:
# lets check for the null values
merge.isnull().sum()

text     0
class    0
dtype: int64

In [14]:
# now lets create a function to remove all the symbols or signs into text
def wordopt(text):
    
    text = re.sub("\[.*?\]\\Whttp?:///\$+.*<>[%s/n]0123456789", "",text)
    text = text.lower()
    return text

In [15]:
# now all the symbols are turned into text
merge['text']=merge['text'].apply(wordopt)

In [16]:
merge.head(5)

                                                text  class
0  donald trump just couldn t wish all americans ...      0
1  house intelligence committee chairman devin nu...      0
2  on friday, it was revealed that former milwauk...      0
3  on christmas day, donald trump announced that ...      0
4  pope francis used his annual christmas day mes...      0

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer

## now lets convert the text data  into vector 
vectorizer = TfidfVectorizer()
text_vector = vectorizer.fit_transform(merge['text'])

# now lets check the shape of the data set
print(text_vector.shape)
print(merge['class'].shape)

(44878, 121982)
(44878,)

In [20]:
# now lets split the data into train and test
x=text_vector
y=merge['class']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20)

In [22]:
print("x_train:",x_train.shape)
print("x_test:",x_test.shape)
print("y_test:",y_test.shape)
print("y_train:",y_train.shape)

x_train: (35902, 121982)
x_test: (8976, 121982)
y_test: (8976,)
y_train: (35902,)

In [23]:
# lets call the Logistic Regression model
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train) # training the model

LogisticRegression()

In [30]:
# lets make the prediction for our test datq
lr.predict(x_test)

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [31]:
# check the accuracy of our model
lr.score(x_test,y_test) # here we can see our model is 98% accurate

0.9880793226381461

In [37]:
# we can also perform this by using decession tree
from sklearn.tree import DecisionTreeClassifier
df=DecisionTreeClassifier()
df.fit(x_train,y_train)

DecisionTreeClassifier()

In [38]:
df.predict(x_test)

array([0, 0, 0, ..., 0, 1, 1], dtype=int64)

In [39]:
df.score(x_test,y_test)
# this time we are getting 99% accuracy

0.9952094474153298